html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


// config
@import "variables";

//layout
@import "reset";

// mixins
@import "mixins";

// button
@import "../components/button/index";

// alert
@import "../components/alert/index"
